<footer class="bg-black pa3 white">
	<div class="nav-bar z-max">
		<div class="nav-container">
			<div class="brand">
				<a href="/">
					<img src="/img/cell5/cell-5-logo-black.svg" alt="Cell 5 logo" style="float: left;" class="z-1" />
				</a>
			</div>
			<nav>
				<ul class="nav-list">
					<li><a href="/people">People</a></li>

					<li><a href="/clients">Clients</a></li>

					<li><a href="/values">Values</a></li>

					<li><a href="/process">Process</a></li>

					<li><a href="/tools">Tools</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="nav-bar-socmed z-max">
		<div class="nav-container">
			<nav>
				<ul style="float: right;">
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}</li>
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}</li>
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}</li>
					<li>{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}</li>
				</ul>
			</nav>
		</div>
	</div>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>