<div class="home-top">
  <div class="center-horizantal">
    <img src="{{.imageUrl}}" />
  </div>
  <h1 class="main-title line-spacing-10">
    {{.title}}
  </h1>
  {{ if .subtitle }}
  <div class="main-subtitle line-spacing-10">
    {{.subtitle | markdownify }}
  </div>
  {{ end }}
  <div class="center-horizantal line-spacing-30">
    <button class="eclipse-btn bg-bv text-18-22">
      Get Started
    </button>
  </div>
  <div class="center-horizantal top-10">
    <img src="/img/banner image.png" class="z-1" height="auto" width="50%" />
  </div>
  <img width="100%" src="/img/SVG/groupCurve1.svg" class="rel-top-neg-30vw" />
</div>