<div class="flex-m mhn3-m mb4">
  <div class="ph6-m w-50-m order-last-m relative z-1">
    <h3 class="head-black {{.additionalCss}}">{{.heading}}</h3>
    <div class="body-black pt4 pb3 {{.additionalCss}}">{{.text | markdownify }}</div>
    {{if .details}}
    <div id="process-buttons" class="process-main">
      <div class="btn-group">
        {{ range $index, $element := .details }}
        <button id={{.id}} class="btn-grp-child" onclick='handleClickProcess("{{.id}}", "{{.content | jsonify }}")'>
          {{.name}}
        </button>
        {{end}}
      </div>
    </div>
    {{end}}
    {{ if .moreLink }}
    <button class="eclipse-btn bg-bv text-18-22 z-max">
      Read more
    </button>
    {{ end }}
  </div>
  <div class="ph6-m w-50-m relative z-1">
    {{if .details}}
    <div id="process-details" class="process-details">
      <img src="{{.imageUrl}}" />
    </div>
    {{else}}
    <img src="{{.imageUrl}}" alt="" class="db mb2 z-max" />
    {{end}}
  </div>
</div>