<div class="flex-m mhn3-m mb4">
  <div class="ph6-m w-50-m relative z-1">
    {{if .details}}
    <div class="d-main">
      <div id="details-data">
        {{ range $index, $element := .details }}
        <div id="{{.id}}">
          {{ partial "process-details" $element }}
        </div>
        {{end}}
      </div>
    </div>
    {{else}}
    <img src="{{.imageUrl}}" alt="" class="db mb2 media-img z-1" />
    {{end}}
  </div>
  <div class="ph6-m w-50-m order-last-m relative z-1">
    <h3 class="h-black {{.additionalCss}}">{{.heading}}</h3>
    <div class="body-black pt4 pb3 {{.additionalCss}}">{{.text | markdownify }}</div>
    {{if .details}}
    {{ partial "process-buttons" (dict "details" .details)}}
    <div class="mobile-only">
      <div id="p-d-mobile">
        {{ range $index, $element := .details }}
        <div id="{{.id}}-m">
          {{ partial "process-details" $element }}
        </div>
        {{end}}
      </div>
    </div>
    {{end}}
    {{ if .moreLink }}
    <div id="moreLink">
      <button class="eclipse-btn bg-bv text-18-22">
        Read more
      </button>
    </div>
    {{ end }}
  </div>
</div>