<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/cell5/cell-5-logo-black.svg" alt="Cell 5 logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
  
    <li><a href="/people" class="pa3 no-underline db">People</a></li>
	
		<li><a href="/clients" class="pa3 no-underline db">Clients</a></li>

    <li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/process" class="pa3 no-underline db">Process</a></li>

		<li><a href="/tools" class="pa3 no-underline db">Tools</a></li>

	</ul>

</nav>
