<div class="flex-m mhn3-m mb4 z-1">
    <div class="w-50-m">
    </div>
    <div class="w-50-m">
        <div class="card-container br-tl-100 w-470-f absolute z-1 {{.cardCss}}">
            {{if .imageUrl}}
            <div class="center-horizantal">
                <img src="{{.imageUrl}}" />
            </div>
            {{ end }}
            <div class="f4 b color-black lh-2 center-text">{{ .heading }}</div>
            <div class="lh-title left-text">{{ .text | markdownify }}</div>
        </div>
    </div>
</div>