<div class="flex-m mhn3-m mb4 z-1">
    <div class="w-50-m order-last-m">
    </div>
    <div class="w-50-m">
        <div class="card-container br-tr-100 w-470-f relative z-1 p-card-l">
            {{if .imageUrl}}
            <div class="center-horizantal">
                <img src="{{.imageUrl}}" />
            </div>
            {{ end }}
            <div class="f4 b c-black lh-2 ta-center">{{ .heading }}</div>
            <div class="lh-title left-text">{{ .text | markdownify }}</div>
        </div>
    </div>
</div>