{{ define "main" }}

{{ partial "custom-header-bg" . }}
{{ partial "custom-wide-text" (dict "title" .Params.title "text" .Params.text) }}
<div class="pv5">
  {{ range $index, $element := .Params.people }}
  {{ if modBool $index 2}}
  <div class="mw8 center">
    <div class="flex-m mhn3-m mb4 z-1">
      <div class="ph4-m w-50-m">
        {{ partial "z-brix" $element }}
      </div>
      {{ else }}
      <div class="ph4-m w-50-m">
        {{ partial "z-brix" $element }}
      </div>
    </div>
  </div>
  {{end}}
  {{ end }}

  {{ partial "light-wide-text" (dict "heading" .Params.bottomHeader "text" .Params.bottomText) }}

</div>
<div class="lh-1 c-white">
  {{ partial "custom-footer" (dict "heading" .Params.heading "text" .Params.footer) }}
</div>
{{ end }}