{{ define "main" }}

<div>
  {{ partial "custom-header-bg" . }}
  {{ partial "custom-wide-text" (dict "title" .Params.title "text" .Params.text) }}

  <div class="mw7 center ph3 pt4 process">

    {{ range $index, $element := .Params.process }}
    {{ if modBool $index 2 }}
    {{ partial "process-card" $element }}
    {{ else }}
    {{ partial "process-card-reverse" $element }}
    {{ end }}
    {{ end }}

  </div>

  <div class="lh-1 color-white">
    {{ partial "custom-footer" (dict "heading" .Params.heading "text" .Params.footer) }}
  </div>

</div>

{{ end }}