@import "./component/alignment.css";
@import "./component/background.css";
@import "./component/box.css";
@import "./component/images.css";
@import "./component/margins.css";
@import "./component/nav.css";
@import "./component/scrolls.css";
@import "./component/texts.css";
@import "./component/z-brix.css";

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: Montserrat !important;
  font-style: normal;
}

.container {
  height: auto !important;
  width: 100% !important;
  background: #ffffff;
}

.svg-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.svg-bg-bottom {
  position: relative;
  top: 1vh;
}

.svg-bg-top {
  position: relative;
  bottom: 1vw;
  width: 100%;
}

/*display and visibility*/
.d-main {
  display: block;
}

.v-mobile {
  visibility: visible;
}

.ch-mobile {
  padding-top: 0px;
}

.mobile-only {
  display: none;
}

@media only screen and (max-width: 799px) {
  .mobile-only {
    display: contents;
  }

  .d-main {
    display: none !important;
  }

  .v-mobile {
    visibility: hidden;
  }

  .ch-mobile {
    padding-top: 60px;
  }

  .v-card-mobile {
    text-align: center;
  }
}
