{{ define "main" }}
<div>
  <div class="bg-home">
    {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

    <div class="svg-container black-section color-white">
      <div class="pv3 lh-1 b">
        {{ partial "wide-text" (dict "heading" .Params.heading "text" .Params.text) }}
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 466" class="svg-waves">
        <path
          d="M2161.59 368.934C2161.59 368.934 2057.46 350.805 1890.2 244.358C1790.09 178.474 1627.81 150.447 1514.29 183.704C1369.76 207.458 1299.8 236.385 1135.67 183.704C971.539 131.022 307.256 -29.9229 -14.8555 4.88024C-15.1809 6.52148 -14.8555 466.94 -14.8555 466.94H2161.59V368.934Z"
          fill="white" />
      </svg>
    </div>
  </div>
  <div class="w-100 bg-white">
    {{ range $index, $element := .Params.preludes }}
    {{ if eq $index 4}}
    <div class="pv7 mt6 mw9 center">
      {{ partial "media-block" $element }}
    </div>
    {{ else if eq $index 3}}
    <div class="black-section">
      <div class="mw9 center">
        {{ partial "media-block-reverse" $element }}
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 1920 600" class="svg-waves">
        <g class="currentLayer">
          <path fill="#A66BF0"
            d="M2153.276 136.079s-182.86 9.26-326.95-43.28c-144.1-52.55-577.67 144.96-605.6 153.81-27.93 8.85-217.208 57.24-451.625 45.1-234.418-12.14-814.127 40.86-867.545 64.08 1.677.62 0 313.73 0 313.73h2251.72v-533.44z"
            opacity=".24" />
          <path fill="#8C3CEC"
            d="M2154.376 19.009s-247.33-73.635-441.58 75.98c-194.25 149.61-385.22 137.81-533.94 113.5-148.711-24.32-455.995-46.67-808.23 179.94-29.665 20.31-349.784 66.19-468.977 46.09-.21-.5 0 195.67 0 195.67h2252.727V19.009z"
            opacity=".123" />
          <path fill="#fff"
            d="M2083.556 811.959v-652.08c-50.31-58.19-208.02-131.96-436.34 38.51-285.41 213.08-546.11 184.84-900.126 146.33-354.012-38.51-644.907 156.6-771.144 219.5-100.99 50.32-397.005 50.92-532.39 44.93v202.81h2640z" />
        </g>
      </svg>
    </div>
    {{ else if eq $index 2}}
    <div>
      <div class="pv7 mw9 center">
        {{ partial "media-block" $element }}
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1920 350" class="svg-waves">
        <path
          d="M-111 349.614C-111 349.614 -12.4079 332.435 145.937 231.562C240.718 169.128 394.35 142.569 501.826 174.084C638.653 196.594 704.892 224.007 860.278 174.084C1015.66 124.161 1644.56 -28.356 1949.51 4.62468C1949.82 6.17998 1949.51 966.556 1949.51 966.556H-111V349.614Z"
          fill="#25272E" id="Path_371" />
      </svg>
    </div>
    {{ else if eq $index 1}}
    <div class="client-section pt7">
      <div class="relative top-50 mw9 center">
        {{ partial "media-block-reverse" $element }}
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1920 555" class="svg-waves">
        <path
          d="M2445.12 440.965s-124.26-21.652-323.82-148.787c-119.45-78.689-313.08-112.162-448.53-72.443-172.44 28.371-255.92 62.92-451.75 0C1025.18 156.815 232.581-35.409-151.756 6.156c-.389 1.96 0 551.861 0 551.861H2445.12V440.965z"
          fill="#fff" id="Path_592" />
      </svg>
    </div>
    {{ else }}
    <div class="pv7 mw9 center">
      {{ partial "media-block" $element }}
    </div>
    {{ end }}
    {{ end }}
  </div>
  <div class="lh-1 b color-white">
    {{ partial "custom-footer" (dict "heading" .Params.heading "text" .Params.footer) }}
  </div>

</div>
<script>
  window.onload = (event) => {
    console.log("initializing");
    document.getElementById("process-1-btn").disabled = true;
  };

  function handleClickProcess(id) {
    var btns = document.getElementById("process-buttons").getElementsByTagName("*");
    var divs = document.getElementById("details-data").getElementsByTagName("div");

    for (var i = 1; i < btns.length; i++) {
      let btnId = btns[i].id;
      let divId = btnId.slice(0, 9);
      document.getElementById(btnId).disabled = (btnId === (id + "-btn"));
      if (divs[divId].id !== id) {
        document.getElementById(divs[divId].id).style.visibility = "hidden";
      } else {
        document.getElementById(divs[divId].id).style.visibility = "visible";
      }
    }
  };
</script>
{{ end }}