{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

<div class="rel-top-neg-72vw">
  {{ partial "wide-text" (dict "heading" .Params.heading "text" .Params.text) }}
</div>
<div class="w-100 bg-white rel-top-neg-45vw pv6">
  <div class="center">

    {{ range $index, $element := .Params.preludes }}
    {{ if modBool $index 2 }}
    {{ partial "media-block" $element }}
    {{ else }}
    {{ partial "media-block-reverse" $element }}
    {{ end }}
    {{ end }}

  </div>
</div>

{{ partial "wide-text" (dict "heading" .Params.heading "text" .Params.footer) }}

{{ end }}