.center-horizantal {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.circle-svg {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}

/*top positions*/
.top-25{
  top: 25%;
}

/*left position*/
.l-60{
  left: 60%;
}

.l-50 {
  left: 50%;
  transform: translate(-50%);
}

/*right position*/
.r-60{
  right: 60%;
}


/*cards*/
.p-card-l {
  right: 55%;
}

.p-card-r {
  left: 55%;
}

.p-card-1 {
  top: 25%;
  left: 55%;
}

.client-site{
  position: absolute;
  bottom: -150%;
}

.v-header{
    display: table;
}

.v-header img {
  vertical-align: middle;
  display: table-cell;
  width: 80px;
  height: auto;
}

.v-header span {
  vertical-align: middle;
  display: table-cell;
}

.vl-card{
  position: relative;
  top: 10vw;
}

@media only screen and (max-width: 799px) {
  .circle-svg {
    position: static;
    top: 0;
    right: 0;
    transform: none;
    display: block;
    margin: 10px auto 0px;
  }

  .client-site{
    position: relative;
    bottom: 0%;
  }

  .v-header{
    display: block;
  }

  .v-header img {
    display: block;
    text-align: center;
    width: 50px;
    height: auto;
  }

  .v-header span {
    display: block;
    text-align: center;
  }

  .vl-card{
    position: flex;
    top: 0;
  }
}
