.center-horizantal{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*absolute position*/
.abs-top-0{
    position: absolute;
    top: 0%;
}

/*relative positions*/
.rel-top-51vw{
    position: relative;
    top: 51vw;
}

.rel-top-55vw{
    position: relative;
    top: 55vw;
}

.rel-top-30vw{
    position: relative;
    top: 30vw;
}

.rel-top-neg-30vw{
    position: relative;
    top: -30vw;
}

.rel-top-neg-45vw{
    position: relative;
    top: -45vw;
}

.rel-top-neg-55vw{
    position: relative;
    top: -55vw;
}

.rel-top-neg-72vw{
    position: relative;
    top: -72vw;
}

.rel-top-neg-238vw{
    position: relative;
    top: -238vw;
}

.rel-top-neg-238vw{
    position: relative;
    top: -238vw;
}




