/*General*/
.div-section{
    position: relative;
    height: 90vh;
    width: 100%;
}

/* HomePage */
.home-top{
    position: relative;
    height: 90vh;
    width: 100%;
    line-height: 0;
}

/*Buttons*/
.eclipse-btn{
    border-radius: 30px;
    padding: 12px 35px;
}

/*Home - Process*/
.process-main{
    height: 300px;
    width: 80%;
    background: #1E2024;
    color: white;
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto;
    
}

.btn-group .btn-grp-child {
    background-color: transparent;
    color: white;
    border-bottom: 1px solid #292B2F;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 56px;
    box-shadow: none !important;
    padding: 0px 20px;
    text-align: left;
}

.btn-group .btn-grp-child:disabled {
    border: 1px solid #A063FC !important;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: none !important;
}

.btn-group .btn-grp-child:focus {
    box-shadow: none !important;
}


.btn-group .btn-grp-child:last-child {
    border: none;
}

.p-d{
    background: #F8F8F8;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 20px 0px 0px;
    position: relative;
}

.p-d-head{
    height: auto;
    width: 80%;
    margin: 0 auto;
    background: #F8F8F8;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 20px 110px 20px 25px;
    position: absolute;
    top: 120px;
    text-align: left;
}

.grp-process .grp-detail{
    height: auto;
    border-bottom: 1px solid #BBB6B6;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 5% 0%;
    margin: auto;
}


.grp-process .grp-detail:last-child {
    border: none;
}

#process-1{
    display: block;
}

#process-2{
    display: none;
}

#process-3{
    display: none;
}

#process-4{
    display: none;
}

#process-1-m{
    display: block;
}

#process-2-m{
    display: none;
}

#process-3-m{
    display: none;
}

#process-4-m{
    display: none;
}


/*Clients Page*/
.media-box-1{
    width: 80%;
    background: #FAFAFA;
    border-radius: 50px;
    padding: 10% 10% 5% 10%;
    margin-left: 5%;
    font-size: 1.25rem;
    line-height: 2.188rem;
}

.img-shadow{
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

/*values-page*/
.card-container{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: auto;

}

/*border-radius*/
.br-a-50{
    border-radius: 50px;
}

.br-tl-100{
    border-radius: 100px 0px 0px 0px;
}

.br-tr-100{
    border-radius: 0px 100px 0px 0px;
}

/*media blocks*/
.media-img{
    width: 100%;
    margin: auto;
}

.cm-box{
     display: none;
 }


@media only screen and (max-width: 799px) {
 .home-top{
     height: 75vh;
 }

 .btn-group .btn-grp-child{
    text-align: center;
 }

 #moreLink{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .media-img{
    width: 80%;
    margin: 20% auto;
 }

 .eclipse-btn{
    width: 50%;
    border-radius: 30px;
    margin: 10% auto;
    padding: 10px 0px;
 }
 
 .media-mobile{
     padding: 20% 0px !important;
 }

 .card-container{
    margin: 15% auto;
    padding: 30px;
 }

 .media-box-1{
    text-align: center;
    font-size: 0.625rem;
    line-height: 0.9375rem;
    margin: auto;
 }

 .cm-box{
     display: block;
 }

 .p-d{
    position: static;
    width: 80%;
    margin: auto;
 }

 .p-d-head{
    padding: 20px;
    text-align: center;
 }
}


/*based on height*/
@media (min-height: 1080px) {
    .div-section{
        position: relative;
        height: 70vh;
        width: 100%;
    }

    .home-top{
        position: relative;
        height: 70vh;
        width: 100%;
    }

}

@media (min-height: 2000px) {
    .div-section{
        position: relative;
        height: 50vh;
        width: 100%;
    }

    .home-top{
        position: relative;
        height: 50vh;
        width: 100%;
    }

}



