/* Rectangle 149 */

.rect-149{
    position: absolute;
    width: 258px;
    height: 809px;

    background: #C4C4C4;
}

/* PEOPLE */

.main-body{
    position: relative;
    /* width: 1920px;
    height: 8329px; */
    width: 100%;
    height: auto;

    background: #FFFFFF;
}
