/* cell-5-logo-black */

.nav-logo{
    position: absolute;
    left: 9.27%;
    right: 87.84%;
    top: 0.68%;
    bottom: 98.62%;

    background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    transform: rotate(-0.01deg);
}

.home-logo{
    position: absolute;
    left: 43.28%;
    right: 44.9%;
    top: 2.21%;
    bottom: 94.93%;

    background: #FFFFFF;
    border: 1.5px solid #FFFFFF;
    transform: rotate(-0.01deg);
}