.m-auto{
    margin: auto !important;
}
.line-spacing-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.line-spacing-30{
    margin-top: 30px;
    margin-bottom: 30px;
}

.line-spacing-5vw{
    margin-top: 5vw;
    margin-bottom: vw;
}

.top-10{
    margin-top: 10vw;
}

.top-30vw{
    margin-top: 30vw;
}

.top-120{
    margin-top: 120px;
}

