/* THIS IS BRIX's CSS FOR 'PEOPLE' PAGE */
/* CSS STARTS HERE */

.people-card {
  background: #ffffff;
  padding: 30px 40px;
  height: 100%;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin: auto !important;
  align-items: center;
  text-align: center;
}

.people-card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 250px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.people-card h3 {
  margin-top: 10%;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.people-card p {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
}

/* END OF 'PEOPLE' PAGE CSS */

/* THIS IS BRIX`s CSS FOR MOBILE VIEW OF 'PROCESS' PAGE */
/* CSS STARTS HERE */

.process-mobile {
  display: none;
}

.ta-center img {
  position: relative;
  z-index: 1;
}

.card-process-mobile {
  position: relative;
  z-index: 1;
  width: 60%;
  background: #ffffff;
  padding: 25px;
  height: auto;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  margin: auto !important;
  align-items: center;
  text-align: center;
}

.card-process-mobile img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-process-mobile h3 {
  margin-top: 10%;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.card-process-mobile p {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

.process-mobile-svg-container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}

.svg-0 {
  padding-top: 600px;
}

.svg-2 {
  padding-top: 750px;
}

/* END OF MOBILE 'PROCESS' PAGE CSS */

@media only screen and (max-width: 799px) {
  .people-card {
    width: 90%;
    margin: 10% auto !important;
  }

  .people-card img {
    width: 50%;
    height: auto;
  }

  .people-card h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .people-card p {
    font-size: 0.625rem;
    line-height: 0.9375rem;
  }

  .process {
    display: none;
  }

  .process-mobile {
    display: block;
  }
}
